<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    F12를 눌러 console 탭과 network 탭을 확인해보세요.
    <script>
      // 브라우저에서는 기본적으로 웹소켓을 지원하기 때문에 모듈을 설치 할 필요없음
      const webSoket = new WebSocket("ws://localhost:8005");
      webSoket.onopen = () => {
        console.log("서버와 웹 소켓 연결 성공");
      };

      // 서버에서 메시지를 받았을 때 실행
      webSoket.onmessage = (event) => {
        console.log(event.data);
        webSoket.send("클라이언트에서 서버로 메시지 전송"); // 메시지 보내는것
      };
    </script>
  </body>
</html>
